<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="container">
    <div class="canvas-wrapper">
      <div style="max-height: 300px;max-width:640px;overflow-y: scroll; overflow-x:hidden;">
        <canvas id="myCanvas" width=640 height=480 style="margin:auto; display:block ; border:1px solid black">
          Oops, browser has no <code> canvas </code> tag support
        </canvas>
      </div>
    </div>
    <div class="chat-frame">
      <canvas id="chatCanvas" width=0 height=0 style="margin:auto; display:block ; border:1px solid black">
        Oops, browser has no <code> canvas </code> tag support
      </canvas>
    </div>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/Canvas.js"></script>
  <script src="js/Vertex.js"></script>
  <script src="js/CmdFactory.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
